@font-face{
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/cuprum.woff2") format("woff2");
}

@font-face{
    font-family: "Cuprum Bold";    
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/cuprumbold.woff2") format("woff2");
}

@font-face{
    font-family: "Cuprum Italic";    
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/cuprumitalic.woff2") format("woff2");
}

@font-face{
    font-family: "PTSans";    
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/ptsans.woff2") format("woff2");
}

@font-face{
    font-family: "PTSans Bold";    
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsansbold.woff2") format("woff2");
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body{
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    color: #ffffff;
}
.container{
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0px;
    border: none;
    border-radius: 3px;
}

.header-top{
    height:42px;
    color:#ffffff;
    background-color: #293449;
}

.search-form{
    display: flex;
    align-items: stretch;
    height: 100%;
}

.search-form-input{
    font-family: "Cuprum";
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
    border: none;
}

.search-form-input::placeholder{
    color: #ffffff;
}
.search-form-input::-ms-input-placeholder{
    color: #ffffff;
}

.search-form-input:focus{
    color: #000000;
    background-color: #ffffff;
}

.checkout-btn{
    padding: 12px 22px 13px 20px;
    font-size: 17px;
    text-transform: none;
    color: #ffffff;
    background-color: #63a63e;
    border-radius: 0;
}

.checkout-btn:hover{
    background-color: #5fbb2d;
}

.header-bottom{
    display: flex;
    flex-direction: column;
    color:#ffffff;
    background-color: #f3f7f8;
    padding-top: 46px;
}

.header-top-left,
.header-top-right{
    display: flex;
    align-items: center;
    color:#ffffff;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 rgba(0,0,0,0.24);
}

.logo:hover{
    background-color: #ca2c37;
}

.header-top .logo{    
    min-height: 47px;
}

.footer-top .logo{
    min-height: 68px;
}

.header-top .container{
    height: 42px;
    align-items: stretch;
}

.footer-top .container:first-of-type{
    align-items: flex-end;
    margin-bottom: 30px;
}
.footer-top .container:last-of-type{
    align-items: flex-start;
    margin-bottom: 50px;
}

.header-top-right{
    justify-content: flex-end;
}

.bookmark,
.cart,
.checkout{
    font-size: 17px;
    line-height: 18px;
    text-decoration: none;
    color: #ffffff;
}

.header-bottom-title{
    width:200px;
    font-family: "Cuprum Italic";
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.header-contacts,
.footer-contacts{
    display: flex;
    flex-direction: column;
}

.contacts span{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-contacts{
    width: 270px;
}

.footer-contacts{
    flex-direction: column-reverse;
    align-items: flex-start;
}

.header-bottom .phone{
    border: 3px solid #ffffff;
    padding-top: 13px;
    padding-bottom: 12px;
    margin-bottom: 10px;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
}

.header-bottom .address{
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.menu-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-link{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

.user-navigation .menu-item{
    margin-right: 10px;
}

.user-navigation .menu-item:last-of-type{
    margin-right: 0;
}

.user-navigation .menu-link{
    font-size: 21px;
    line-height: 21px;
    padding: 12px 0px;
    color: #000000;
    background-color: #ffffff;
}

.footer-top .menu-item{
    margin-left:60px;
}

.footer-top .menu-link{
    vertical-align: middle;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
}

.footer-top .menu-link:hover{
    text-decoration: underline;
}

.user-navigation .menu-link:hover{
    color: #ee3643;
}

.user-navigation .menu-link:active{
    color: rgba(0,0,0,0.3)
}

.site-navigation{
    margin-top: 40px;
    margin-bottom: 60px;
}

.site-navigation .menu-items{
    background-color: #32425c;
    box-shadow: inset 0 -5px 0 #293449;
}

.site-navigation .menu-link{
    padding: 21px 30px 22px 30px;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

.user-navigation .btn{
    padding: 12px 24px;
    text-decoration: none;
    color: #000000;
}

.user-navigation .btn-login{
    padding-right: 26px;
    padding-left: 47px;    
}

.site-navigation .menu-link:hover{
    background-color: #293449;
}
.site-navigation .menu-link:active{
    color: rgba(255,255,255,0.5);
    background-color: #1d2739;
}

.promo-sections{
    margin-top: 59px;
}

.promo-section-left,
.promo-section-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;    
    margin: 0;
    padding: 0;
}

.promo-section-left{
    width: 620px;
}

.promo-section-right{
    width: 300px;
}

.promo-section{
    width: 300px;
    min-height: 123px;
    margin-bottom: 20px;
}

.slider{
    display: flex;
    margin: 0;
    padding: 0;
}

.promo-section-title{
    margin: 0;
    margin-top: 26px;
    margin-left: 22px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
}

.promo-section-btn{
    min-width: 153px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 10px;
    margin-left: 25px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.1);
}

.promo-section-btn:hover{
    background-color: rgba(0,0,0,0.2);
}

.promo-section-btn:active{
    background-color: rgba(0,0,0,0.3);
}

.promo-section-slider{
    width: 620px;
    position: relative;
}

.promo-section-material{
    background-image: url("../img/material.png");
    background-repeat: no-repeat;
    background-position: top 31px right 43px;
    background-color: #ffbf47;
}

.promo-section-tool{
    background-image: url("../img/drill.png");
    background-repeat: no-repeat;
    background-position: top 33px right 28px;
    background-color: #3bbce3;
}

.promo-section-equipment{
    background-image: url("../img/equipment.png");
    background-repeat: no-repeat;
    background-position: top 31px right 31px;
    background-color: #dc91d8;
}

.promo-section-sale{
    background-image: url("../img/sale.png");
    background-repeat: no-repeat;
    background-position: top 26px right 45px;
    background-color: #8ed78f;
}

.promo-section-delivery{
    background-image: url("../img/delivery-small.png");
    background-repeat: no-repeat;
    background-position: top 32px right 31px;
    background-color: #ffc047;
}

.slide{
    position: relative;
    width: 620px;
    height: 266px;
    z-index: -100px;
}

.slide-content{
    position: absolute;
    top: 0;
    padding-top: 27px;
    padding-left: 24px;
}

.slider-controls{
    position: absolute;
    top: 0;
    left: 0;
    width: 620px;
    padding: 114px 25px 20px 0px;
}

.slide-title{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}
.slide-desc{
    margin: 0;
    padding: 0;
    margin-top: 8px;
    font-size: 18px;
    line-height: 24px;
}

.slide .btn-catalog{
    margin-top: 110px;
    min-width: 195px;
    padding-left: 49px;
    padding-right: 45px;
    color: #ffffff;
    background-color: #ee3643;
}

.btn-catalog:hover{
    background-color: #ca2c37;
}

.btn-catalog:active{
    background-color: #ba2732;
}

.btn-prev-slide{
    position: absolute;
    top: 114px;
    left: 25px;
}

.btn-next-slide{
    position: absolute;
    top: 114px;
    right: 20px;
}

.popular .container{
    flex-direction: column;
    flex-wrap: wrap;
}

.popular-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 28px;
    padding-right: 24px;
    background-color: #f9f5f0
}

.popular-header-title{
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.popular-header-btn{
    min-width: 253px;
    padding-left: 50px;
    padding-right: 50px;
    color: #ffffff;
    background-color: #ee3643;
}

.catalog-items,
.vendor-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}

.catalog-item,
.vendor-item{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 220px;
    margin-bottom:20px;
    border: 1px solid #eaeaea;
}

.catalog-item{
    padding-bottom: 21px;
}

.wrapper{
    position: relative;
    width: 100%;
    min-height: 150px;
}

.catalog-item-btn{
    margin-bottom: 7px;
    padding-right: 45px;
    padding-left: 49px;
}

.catalog-item-buy{
    color: #ffffff;
    background-color: #63a63e;
    box-shadow: inset 0px -3px 0px 0px #367315;
}

.catalog-item-buy:hover{
    outline: none;
    background-color: #5fbb2d;
}

.catalog-item-buy:active{
    outline: none;
    background-color: #518534;
}

.catalog-item-bookmark{
    padding: 7px 29px 7px 33px;
    border: 3px solid #63a63e;
    color: #32425c;
    background-color: #ffffff;
}

.catalog-item-bookmark:hover{
    outline: none;
    border-color: #32425c;
}

.catalog-item-bookmark:active{
    outline: none;
    color: rgba(50, 66, 92, 0.3);
    border-color: rgba(50, 66, 92, 0.3);
}

.catalog-item-img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.catalog-item-actions{
    position: absolute;
    top: 44px;
    left: 0;
    z-index: -100;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
}

.catalog-item-info{
    margin-top: 25px;
    width: 160px;
    min-height: 75px;
}

.catalog-item-title{
    font-family: "PTSans Bold";
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    color: #000000;
}

.catalog-item-price,
.catalog-item-price-old{
    font-family: "PTSans Bold";
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
}

.catalog-item-price{
    position: relative;
    margin-top:10px;
    padding-left: 35px;
    padding-right: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #ee3643;
}

.catalog-item-price::after{
    content: "";
    position: absolute;
    top: 0;
    right: -19px;
    border: 19px solid #ee3643;
    border-right-width: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.catalog-item-price-old{    
    margin: 0;
    margin-top: 15px;
    text-decoration: line-through;
    color: #a9a9a9;
}

.vendor-item{
    justify-content: center;
}

.catalog-item:hover .catalog-item-img{
    z-index: -100;
}

.catalog-item:hover .catalog-item-actions{
    z-index: 100;
}

.catalog-item:hover,
.vendor-item:hover{
    box-shadow: 0px 0px 25px rgba(41, 52, 73, 0.5);
}

.catalog-items .catalog-item{
    min-height: 318px;
}

.vendor-items .vendor-item{
    min-height: 145px;
}

.service{
    background-color: #f4f8f9;
}

.service .container{
    flex-direction: column;
}

.service-header{
    padding-top: 68px;
}

.service-header-title{
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
}

.service-header-desc{
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.service-container{
    display: flex;
    padding-top: 70px;
}

.service-items{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 102px;
    padding: 0;
    list-style: none;
    margin-right: 80px;
}

.service-item{
    min-width: 240px;
    padding: 15px 0px 15px 23px;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    background-color: #32425c;
    box-shadow: inset 0 -1px 0 #4d637b;
}

.service-item:hover{
    background-color: #293449;
}

.service-item.active{
    background-color: #ffffff;
    color: #32425c;
    box-shadow: none;
}

.service-title{
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    color: #32425c;
}

.service-desc{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.service-delivery,
.service-guarantee,
.service-credit{
    height: 100%;
    background-repeat: no-repeat;
    background-position: top 0px right 0px;
}

.service-delivery{
    background-image: url("../img/delivery.png");
    background-size: 468px 261px;
}

.service-guarantee{
    background-image: url("../img/guarantee.png");
    background-size: 389px 283px;
}

.service-credit{
    background-image: url("../img/credit.png");
    background-size: 465px 285px;
}

.service-credit-btn{
    margin-top: 30px;
    padding-left: 45px;
    padding-right: 45px;
    color: #ffffff;
    background-color: #ff5357;
}

.about-services{
    width: 620px;
    min-height: 100%;
}

.about-us{
    padding-top: 80px;
    color: #000000;
}

.about-us-contacts{
    display: flex;
    flex-direction: column;
}

.about-us-title{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.about-us-desc{
    margin: 0;
    margin-top: 35px;    
    padding: 0;
    font-family: "PTSans";
    font-size: 13px;
    line-height: 24px;
}

.about-us .btn{
    padding-left: 40px;
    padding-right: 40px;
    color: #ffffff;
    background-color: #ee3643;
}

.about-us-map{
    margin-top: 39px;
}

.delivery-company-items{
    margin: 0;
    margin-top: 25px;
    padding: 0;
    list-style: none;
}

.delivery-company-item{
    margin-bottom: 22px;
    padding-left: 35px;
    font-size: 18px;
    line-height: 20px;
}

.delivery-company-item:last-of-type{
    margin-bottom: 0;
}

.btn-details-us{
    margin-top: 29px;
}

.btn-write-us{
    margin: 40px 0px 86px 0px;
    align-self: stretch;
}

.footer-top{
    display: flex;
    flex-direction: column;
    background-color: #32425c;
}

.footer-bottom{
    padding-top:35px;
    background-color: #293449;
}

.copyright{
    font-size: 16px;
    line-height: 18px;
}

footer .phone,
footer .address{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.socials{
    display: flex;
    list-style: none;
}

.social-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #212a3a;
}

.social-btn:hover,
.social-btn:active{
    background-color: #ee3643;
}

/*catalog.html*/

.breadcrumb-items{
    display: flex;
    margin: 0;
    padding: 0;
    margin: 24px 0 16px 0;
}

.breadcrumb-item{
    list-style: none;
    margin-right:40px;
}

.breadcrumb-item a{
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}


.catalog-header{
    margin-bottom:20px;
}

.catalog-header .container{
    background-color: #f2f6f8;
}

.catalog-header-title{
    margin-left: 28px;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.catalog-aside{
    width: 220px;
}

.catalog-section{
    width: 700px;
}

.aside-header,
.section-header{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f7f3ec;
}

.aside-header .aside-header-title,
.section-header .section-header-title{
    margin: 0;
    margin-left: 18px;
    padding: 10px 0px;
    font-family: "PTSans";
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.form-filter fieldset{
    border: none;
}

.form-filter legend{
    font-family: "PTSans";
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.form-filter label{
    font-family: "PTSans";
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}

.catalog-sort-options,
.catalog-sort-orders{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-sort-options{
    margin-left: 140px;
}

.catalog-sort-orders{
    margin-left: 45px;
}

.sort-option{
    margin-right: 60px;
    font-family: "PTSans";
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0,0,0,0.3);
    border-bottom: 1px dotted #ee3643;
}

.sort-option-active{
    color: #ee3643;
    border:none;
}

.sort-option:hover{
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sort-option:last-of-type{
    margin-right: 0;
}

.sort-order{
    margin-right: 35px;
    position: relative;
}

.sort-order-asc::after{
    content: "";
    position: absolute;
    top: -4px;
    border: 10px solid #c5c5c5;
    border-top-width: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}

.sort-order-desc::after{
    content: "";
    position: absolute;
    top: -4px;
    border: 10px solid #c5c5c5;
    border-bottom-width: 0;
    border-left-color: transparent;
    border-right-color: transparent;
}

.sort-order-asc.sort-order-active::after{
    border-bottom-color: #ee3643;
}

.sort-order-desc.sort-order-active::after{
    border-top-color: #ee3643;
}

.sort-order-asc:hover::after{
    border-bottom-color: #000000;
}

.sort-order-desc:hover::after{
    border-top-color: #000000;
}

.catalog-footer{
    min-height: 261px;
    margin-top: 60px;
    background-color: #f2f6f8;
}

.catalog-footer .container{
    flex-direction: column;
}

.catalog-footer-title{
    margin-top: 68px;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.catalog-footer-desc{
    width: 850px;
    font-size: 13px;
    line-height: 24px;
}

.catalog-footer-title,
.catalog-footer-desc{
    color: #000000;
}

.pagination{
    display:flex;
    margin: 0;
    padding: 0;
    margin-top:52px;
}

.pagination-item{
    list-style: none;
    margin-right: 10px;
}

.pagination-btn{
    min-width:38px;
    min-height: 38px;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.pagination-btn:hover{
    border: 1px solid #bdc6ca;
}

.pagination-btn:active{
    outline: none;
    border: 1px solid #ee3643;
}

.pagination-btn-current{
    color: #ffffff;
    background-color: #ee3643;
}