@font-face{
    font-family: "Cuprum";
    font-style: normal;
    font-weight: normal;
    src:
        url("../fonts/cuprum.woff2") format("woff2"),
        url("../fonts/cuprum.woff") format("woff");
}

@font-face{
    font-family: "Cuprum Bold";    
    font-style: normal;
    font-weight: 700;
    src:
        url("../fonts/cuprumbold.woff2") format("woff2"),
        url("../fonts/cuprumbold.woff") format("woff");
}

@font-face{
    font-family: "Cuprum Italic";    
    font-style: italic;
    font-weight: normal;
    src:
        url("../fonts/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face{
    font-family: "PTSans";    
    font-style: normal;
    font-weight: normal;
    src:
        url("../fonts/ptsans.woff2") format("woff2"),
        url("../fonts/ptsans.woff") format("woff");
}

@font-face{
    font-family: "PTSans Bold";    
    font-style: normal;
    font-weight: 700;
    src:
        url("../fonts/ptsansbold.woff2") format("woff2"),
        url("../fonts/ptsansbold.woff") format("woff");
}

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

body{
    font-family: "Cuprum", Arial, sans-serif;
    font-style: normal;
    color: #ffffff;
}
.container{
    width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.btn{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 0px;
    border: none;
    border-radius: 3px;
    background-color: transparent;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.header-top{
    color:#ffffff;
    background-color: #293449;
}

.search-form{
    position: relative;
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    height: 100%;
    z-index: 100;
}

.icon-search{
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    fill:  #ffffff;
    opacity: 0.3;
    z-index: 300;
}

.search-form-input{
    position: absolute;
    padding: 12px 0px 12px 49px;
    font-family: "Cuprum";
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;
    background-color: #293449;
    border: none;
    width: 100%;
    z-index: 200;
}

.search-form:hover .icon-search{
    opacity: 1;
}

.search-form-input::placeholder{
    color: #ffffff;
}
.search-form-input::-ms-input-placeholder{
    color: #ffffff;
}

.search-form-input:focus{
    color: #000000;
    background-color: #ffffff;
}

.search-form-input:focus ~ .icon-search{
    opacity: 1;
    fill: #ee3643;
}

.header-bottom{
    display: flex;
    flex-direction: column;
    color:#ffffff;
    background-color: #f3f7f8;
    padding-top: 46px;
}

.header-bottom > .container:first-of-type{
    justify-content: flex-start;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    background-color: #ee3643;
    box-shadow: inset 0 -5px 0 rgba(0,0,0,0.24);
}

.logo:hover{
    background-color: #ca2c37;
}

.header-top .logo{    
    min-height: 47px;
    margin-bottom: -5px;
}

.footer-top .logo{
    min-height: 68px;
    margin-bottom: -5px
}

.header-top .container{
    height: 42px;
    justify-content: flex-start;
}

.header-top-menu.menu-items{
    margin-left: auto;
}

.header-top-menu .menu-item{
    position: relative;
}

.header-top-menu .menu-link{
    padding: 12px 30px 12px 47px; 
    font-size: 17px;
    line-height: 18px;
    text-decoration: none;
    color: #ffffff;
}

.bookmark::before{
    content: "";
    position: absolute;
    top: 12px;
    left: 19px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
}

.cart::before{
    content: "";
    position: absolute;
    top: 12px;
    left: 15px;
    width: 14px;
    height: 16px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    opacity: 0.3;
}

.header-top-menu .menu-item:hover::before{
    opacity: 1;
}

.header-top-menu .menu-item:hover:active{
    opacity: 0.5;
}

.header-top-menu .menu-link:hover{
    background-color: #212a3a;
}

.header-top-menu .menu-link:active{
    color: rgba(255,255,255,0.6);
    background-color: #161d29;
}

.header-top-menu .checkout{
    padding-right: 22px;
    padding-left: 20px;
    text-transform: none;
    background-color: #63a63e;
    border-radius: 0;
}

.header-top-menu .checkout:hover{
    background-color: #5fbb2d;
}

.header-top-menu .checkout:active{
    color: rgba(255,255,255,0.5);
    background-color: #518534;
}

.footer-top .container:first-of-type{
    align-items: flex-end;
    margin-bottom: 33px;
}
.footer-top .container:last-of-type{
    align-items: flex-start;
    margin-bottom: 50px;
}

.header-bottom-title{
    width:200px;
    margin: 0;
    margin-top: 2px;
    margin-left: 52px;
    font-family: "Cuprum Italic";
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    color: #ee3643;
}

.header-contacts,
.footer-contacts{
    display: flex;
    flex-direction: column;
}

.contacts .phone,
.contacts .address{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-contacts{
    width: 270px;
    margin-left: 68px;
}

.footer-contacts{
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-left: 4px;
}

.header-contacts .phone{
    position: relative;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 21px;
    font-size: 21px;
    line-height: 21px;
    color: #ee3643;
    border: 3px solid #ffffff;
}

.header-contacts .phone::before{
    content: "";
    width: 19px;
    height: 19px;
    position: absolute;
    top: 10px;
    left: 12px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
}

.header-bottom .address{
    padding-top: 5px;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.menu-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu-link{
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

.user-navigation{
    margin-left: auto;
}

.user-navigation .menu-item{
    margin-right: 10px;
}

.user-navigation .menu-item:last-of-type{
    margin-right: 0;
}

.user-navigation .menu-link{
    font-size: 21px;
    line-height: 21px;
    padding: 12px 0px;
    color: #000000;
    background-color: #ffffff;
}

.footer-top .menu-item{
    margin-left:59px;
}

.footer-top .menu-link{
    vertical-align: middle;
    font-size: 18px;
    line-height: 24px;
    color: #f1f5f7;
}

.footer-top .menu-link:hover{
    text-decoration: underline;
}

.footer-top .menu-link:active{
    opacity: 0.5;
    text-decoration: none;
}

.footer-bottom-menu{
    margin: 0;
    margin-top: 15px;
    margin-right: 14px;
    display: flex;
    list-style: none;
}

.footer-bottom-menu .bottom-menu-item{
    margin-left: 48px;
    color: #ffffff;
}

.footer-bottom-menu .menu-link{
    text-decoration: none;
    color: #ffd180;
}

.footer-bottom-menu .bottom-menu-item:nth-of-type(1){
    width: 140px;
}

.footer-bottom-menu .bottom-menu-item:nth-of-type(2){
    width: 100px;
}

.bottom-menu-item:hover .menu-link{
    text-decoration: underline;
}

.bottom-menu-item:active .menu-link{
    text-decoration: none;
    color: #ee3643;
}

.menu-sections .menu-link{
    color: #ffd180;
}

.user-navigation .menu-link:hover{
    color: #ee3643;
}

.user-navigation .menu-link:active{
    color: rgba(0,0,0,0.3)
}

.site-navigation{
    margin-top: 38px;
    margin-bottom: 60px;
}

.site-navigation .menu-items{
    padding: 0 21px;
    background-color: #32425c;
    box-shadow: inset 0 -5px 0 #293449;
}

.site-navigation .menu-link{
    padding: 19px 30px 24px 30px;
    font-size: 17px;
    line-height: 17px;
    color: #ffffff;
}

.user-navigation .btn{
    padding: 12px 24px;
    text-decoration: none;
    text-transform: none;
    color: #000000;
}

.user-navigation .login-btn{
    position: relative;
    padding-right: 26px;
    padding-left: 47px;
}

.login-btn .icon-login{
    position: absolute;
    top: 13px;
    left: 14px;
    fill: #c5c5c5;
}

.login-btn:hover .icon-login{
    fill: #32425c;
}

/* .login-btn::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    top: 13px;
    left: 13px;;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    fill: #32425c;
} */

.site-navigation .menu-link:hover{
    background-color: #293449;
}

.site-navigation .menu-link:active{
    color: rgba(255,255,255,0.5);
    background-color: #1d2739;
}

.promo-sections{
    margin-top: 59px;
}

.promo-section-left,
.promo-section-right{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;    
    margin: 0;
    padding: 0;
}

.promo-section-left{
    width: 620px;
}

.promo-section-right{
    width: 300px;
}

.promo-section{
    width: 300px;
    min-height: 123px;
    margin-bottom: 20px;
    position: relative;
}

.promo-section.new::after{
    content: "";
    width: 60px;
    height: 59px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/new-flag.png");
    background-repeat: no-repeat;
}

.slider{
    display: flex;
    margin: 0;
    padding: 0;
}

.promo-section-title{
    margin: 0;
    margin-top: 20px;
    margin-left: 24px;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.5px;
}

.promo-section-btn{
    min-width: 135px;
    margin-top: 12px;
    margin-left: 25px;
    color: #ffffff;
    background-color: rgba(0,0,0,0.1);
}

.promo-section-btn:hover{
    background-color: rgba(0,0,0,0.2);
}

.promo-section-btn:active{
    background-color: rgba(0,0,0,0.3);
}

.promo-section-slider{
    width: 620px;
    position: relative;
}

.promo-section-material{
    background-image: url("../img/material.svg");
    background-repeat: no-repeat;
    background-position: top 31px right 43px;
    background-color: #ffbf47;
}

.promo-section-material .promo-section-btn{
    padding-left: 23px;
    padding-right: 23px;
}

.promo-section-tool{
    background-image: url("../img/drill.svg");
    background-repeat: no-repeat;
    background-position: top 33px right 28px;
    background-color: #3bbce3;
}

.promo-section-tool .promo-section-btn{
    padding-left: 26px;
    padding-right: 26px;
}

.promo-section-equipment{
    background-image: url("../img/equipment.svg");
    background-repeat: no-repeat;
    background-position: top 31px right 31px;
    background-color: #dc91d8;
}

.promo-section-equipment .promo-section-btn{
    padding-left: 30px;
    padding-right: 30px;   
}

.promo-section-sale{
    background-image: url("../img/sale.svg");
    background-repeat: no-repeat;
    background-position: top 26px right 45px;
    background-color: #8ed78f;
}

.promo-section-sale .promo-section-btn{
    padding-left: 22px;
    padding-right: 22px;   
}

.promo-section-delivery{
    background-image: url("../img/delivery-small.svg");
    background-repeat: no-repeat;
    background-position: top 32px right 31px;
    background-color: #ffc047;
}

.promo-section-delivery .promo-section-btn{
    padding-left: 36px;
    padding-right: 36px;
}

.slide{
    position: relative;
    width: 620px;
    height: 266px;
    z-index: -100px;
}

.slide-content{
    position: absolute;
    top: 0;
    padding-top: 22px;
    padding-left: 24px;
}

.slider-controls{
    position: absolute;
    top: 0;
    left: 0;
    width: 620px;
    padding: 114px 25px 20px 0px;
}

.slide-title{
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.slide-desc{
    margin: 0;
    padding: 0;
    margin-top: 2px;
    font-size: 18px;
    line-height: 24px;
}

.slide .btn-catalog{
    margin-top: 121px;
    min-width: 195px;
    padding-top: 11px;
    padding-left: 51px;
    padding-right: 45px;
    color: #ffffff;
    background-color: #ee3643;
}

.btn-catalog:hover{
    background-color: #ca2c37;
}

.btn-catalog:active{
    background-color: #ba2732;
}

.slide-btn{
    position: absolute;
    font-size: 0;
    width: 20px;
    height: 40px;
}

.slide-prev-btn{
    top: 114px;
    left: 25px;
    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;
}

.slide-next-btn{
    top: 114px;
    right: 22px;
    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;
}

.slide-toggle{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 220px;
    left: 296px;
    display: flex;
    list-style: none;
}

.slide-toggle-item{
    position: relative;
    margin-right: 20px;
}

.slide-toggle-item::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background-image: url("../img/slide-toggle-off.svg");
    background-repeat: no-repeat;
}

input[type="radio"]:checked ~ .slide-toggle-item::before{
    background-image: url("../img/slide-toggle-on.svg");
}

.popular .container{
    flex-direction: column;
    flex-wrap: wrap;
}

.popular-articles{
    margin-top: 32px;
}

.popular-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 24px 3px 25px;
    background-color: #f9f5f0
}

.popular-header-title{
    margin: 0;
    padding: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 30px;
    line-height: 30px;
    font-weight: 500;
    text-transform: uppercase;
    color: #32425c;
}

.popular-articles .popular-header-title{
    margin-left: 3px;
}

.popular-vendors .popular-header-title{
    padding-top: 27px;
}

.popular-header-btn{
    min-width: 253px;
    padding-left: 50px;
    padding-right: 50px;
    color: #ffffff;
    background-color: #ee3643;
}

.catalog-items,
.vendor-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

.catalog-item,
.vendor-item{
    text-align: center;
    width: 220px;
    margin-bottom:20px;
    border: 1px solid #eaeaea;
}

.vendor-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
}

.catalog-item{
    position: relative;
    padding-bottom: 19px;
}

.catalog-item.new::after{
    content: "";
    width: 60px;
    height: 59px;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("../img/new-flag.png");
    background-repeat: no-repeat;
}

.catalog-item-wrapper{
    position: relative;
    width: 100%;
    min-height: 150px;
}

.catalog-item-btn{
    margin-bottom: 7px;
    padding-right: 45px;
    padding-left: 49px;
}

.catalog-item-buy{
    color: #ffffff;
    background-color: #63a63e;
    box-shadow: inset 0px -3px 0px 0px #367315;
}

.catalog-item-buy:hover{
    outline: none;
    background-color: #5fbb2d;
}

.catalog-item-buy:active{
    outline: none;
    background-color: #518534;
}



.catalog-item-bookmark{
    padding: 7px 29px 7px 33px;
    border: 3px solid #63a63e;
    color: #32425c;
    background-color: #ffffff;
}

.catalog-item-bookmark:hover{
    outline: none;
    border-color: #32425c;
}

.catalog-item-bookmark:active{
    outline: none;
    color: rgba(50, 66, 92, 0.3);
    border-color: rgba(50, 66, 92, 0.3);
}

.catalog-item-img{
    position: absolute;
    top: 0;
    left: 0;
}

.catalog-item-actions{
    display: none;
    position: absolute;
    top: 44px;
    left: 0;
    background-color: #ffffff;
}

.catalog-item-info{
    margin-top: 29px;
    min-height: 75px;
    padding: 0 20px;
}

.catalog-item-title{
    font-family: "PTSans Bold";
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    color: #000000;
}

.catalog-item-price,
.catalog-item-price-old{
    font-family: "PTSans Bold";
    font-weight: 700;
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    color: #ffffff;
}

.catalog-item-price{
    position: relative;
    margin-top:5px;
    margin-left: -12px;
    padding-left: 35px;
    padding-right: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #ee3643;
}

.catalog-item-price::after{
    content: "";
    position: absolute;
    top: 0;
    right: -19px;
    border: 19px solid #ee3643;
    border-right-width: 0;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.catalog-item-price-old{    
    margin: 0;
    margin-top: 13px;
    text-decoration: line-through;
    color: #a9a9a9;
}

.vendor-item{
    justify-content: center;
}

.catalog-item:hover .catalog-item-img{
    display: none;
}

.catalog-item:hover .catalog-item-actions{
    display: block;
}

.catalog-item:hover,
.vendor-item:hover{
    box-shadow: 0px 0px 25px rgba(41, 52, 73, 0.5);
}

.vendor-item:active{
    opacity: 0.3;
}

.catalog-items .catalog-item{
    min-height: 318px;
}

.vendor-items .vendor-item{
    min-height: 145px;
}

.service{
    margin-top: 65px;
    background-color: #f4f8f9;
}

.service .container{
    flex-direction: column;
}

.service-header-title{
    margin-top: 66px;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
}

.service-header-desc{
    margin: 0;
    padding-top: 2px;
    padding-right: 530px;
    font-family: "PTSans";
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.service-container{
    display: flex;
    padding-top: 67px;
}

.service-items{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 2px;
    margin-bottom: 102px;
    padding: 0;
    list-style: none;
    margin-right: 80px;
}

.service-item{
    min-width: 240px;
    padding: 14px 0px 17px 23px;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #ffffff;
    background-color: #32425c;
    box-shadow: inset 0 -1px 0 #4d637b;
}

.service-item:hover{
    background-color: #293449;
}

.service-item.active{
    background-color: #ffffff;
    color: #32425c;
    box-shadow: none;
}

.service-title{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #32425c;
}

.service-desc{
    margin: 0;
    padding: 0;
    font-family: "PTSans";
    font-size: 13px;
    line-height: 24px;
    color: #000000;
}

.service-desc:first-of-type{
    margin-top: 26px;
}

.service-delivery,
.service-guarantee,
.service-credit{
    height: 100%;
    background-repeat: no-repeat;
    background-position: right 0px bottom 0px;
}

.service-delivery{
    background-image: url("../img/delivery.png");
    background-size: 468px 261px;
}

.service-delivery .service-desc:nth-of-type(1){
    padding-right: 340px;
}

.service-delivery .service-desc:nth-of-type(2){
    padding-right: 400px;
}

.service-credit .service-desc{
    padding-right: 340px;
}

.service-guarantee{
    background-image: url("../img/guarantee.png");
    background-size: 389px 283px;
}

.service-credit{
    background-image: url("../img/credit.png");
    background-size: 465px 285px;
}

.service-credit-btn{
    margin-top: 30px;
    padding-left: 45px;
    padding-right: 45px;
    color: #ffffff;
    background-color: #ff5357;
}

.about-services{
    width: 620px;
    min-height: 100%;
}

.about-us{
    padding-top: 78px;
    color: #000000;
}

.about-us-contacts{
    display: flex;
    flex-direction: column;
}

.about-us-title{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.about-us-desc{
    margin: 0;
    margin-top: 25px;    
    padding: 0;
    font-family: "PTSans";
    font-size: 13px;
    line-height: 24px;
}

.about-us-details .about-us-desc:nth-of-type(1){
    padding-right: 60px;    
}

.about-us-details .about-us-desc:nth-of-type(2){
    padding-right: 200px;
}

.about-us-contacts .about-us-desc{
    padding-right: 90px;
}

.about-us .btn{
    padding-left: 40px;
    padding-right: 40px;
    color: #ffffff;
    background-color: #ee3643;
}

.about-us-btn{
    margin-top: 37px;
}

.about-us-map{
    margin-top: 31px;
}

.delivery-company-items{
    margin: 0;
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.delivery-company-item{
    position: relative;
    margin-bottom: 20px;
    padding-left: 35px;
    font-size: 18px;
    line-height: 20px;
}

.delivery-company-item:last-of-type{
    margin-bottom: 0;
}

.delivery-company-item::before{
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 25px;
    height: 2px;
    background-image: url("../img/marker-transport-company-item.png");
    background-repeat: no-repeat;
}

.write-us-btn{
    margin: 36px 0px 86px 0px;
    align-self: stretch;
}

.footer-top{
    display: flex;
    flex-direction: column;
    background-color: #32425c;
}

.footer-bottom{
    padding-top:22px;
    padding-bottom: 18px;
    padding-left: 6px;
    background-color: #293449;
}

.copyright{
    width: 230px;
    font-size: 16px;
    line-height: 18px;
}

footer .phone,
footer .address{
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}

.socials{
    margin: 0;
    padding: 0;
    margin-top: 12px;
    margin-left: 137px;
    display: flex;
    list-style: none;
    
}

.social-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #212a3a;
}

.social-btn:hover,
.social-btn:active{
    background-color: #ee3643;
}

.social-icon{
    vertical-align: middle;
}

/*catalog.html*/

.user-profile{
    display: flex;
    align-items: center;
    background-color: #ffffff;
}

.user-name{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    padding: 12px 37px 12px 45px;
    font-size: 21px;
    line-height: 21px;
    text-decoration: none;
    color: #000000;
}

.user-name .icon-user{
    position: absolute;
    margin-top: 1px;
    margin-left: -33px;
    fill: #c5c5c5;
}

.user-name:hover .icon-user,
.user-logout-btn:hover .icon-logout{
    fill: #32425c;
}

.user-logout-btn{
    padding-right: 10px;
    font-size: 0;
}

.user-logout-btn .icon-logout{
    fill: #c5c5c5;
}

.user-profile-menu{
    display: flex;
    margin: 0;
    margin-top: 7px;
    margin-left: 17px;
    padding: 0;
    list-style: none;
}

.user-profile-menu .menu-item{
    margin-right: 32px;
    position: relative;
}

.user-profile-menu .menu-item:nth-of-type(n+2)::before{
    content: "";
    position: absolute;
    top: 8px;
    left: -18px;
    border: 2px solid #32425c;
    border-radius: 50%;
}

.user-profile-menu .menu-link{
    padding: 0;
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    color: #32425c;
    background-color: transparent;
}

.breadcrumb-items{
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 21px;
    list-style: none
}

.breadcrumb-item{
    margin-right:40px;
    position: relative;
}

.breadcrumb-link{
    display: inline-block;
    vertical-align: middle;
    font-family: "PTSans";
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
}

.breadcrumb-item::before{
    content: "";
    width: 8px;
    height: 12px;
    position: absolute;
    top: 2px;
    left: -24px;
    background-image: url("../img/icon-right-small.svg");
    background-repeat: no-repeat;
}

.breadcrumb-item:first-of-type::before{
    content: "";
    width: 14px;
    height: 12px;
    position: absolute;
    top: 2px;
    left: -2px;
    background-image: url("../img/icon-home.svg");
    background-repeat: no-repeat;
}

.breadcrumb-item:first-of-type{
    margin-right:30px;
}

.breadcrumb-item:first-of-type .breadcrumb-link{
    font-size: 0;
    padding-right: 24px;
}

.breadcrumb-item:first-of-type::after{
    background-image: none;
}

.breadcrumb-item:last-of-type{
    margin-right: 0;
}

.breadcrumb-item:nth-of-type(2){
    letter-spacing: 0.2px;
}

.catalog-header{
    margin-top: 20px;
    margin-bottom: 20px;
}

.catalog-header .container{
    background-color: #f2f6f8;
}

.catalog-header-title{
    margin: 0;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 28px;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #32425c;
}

.catalog-aside{
    width: 220px;
}

.catalog-section{
    width: 700px;
}

.aside-header,
.section-header{
    display: flex;
    align-items: center;
    background-color: #f7f3ec;
}

.aside-header{
    margin-bottom: 11px;
}

.aside-header .aside-header-title,
.section-header .section-header-title{
    margin: 0;
    margin-left: 18px;
    padding: 10px 0px;
    font-family: "PTSans";
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000000;
}

.form-filter{
    font-family: "PTSans";
    color: #000000;
}

.form-group{
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.form-group-vendors .form-group-title{
    padding-top: 16px;
    letter-spacing: -0.2px;
}

.form-group-power .form-group-title{
    padding-top: 16px;
    letter-spacing: 0.4px;
}

.form-group:last-of-type{
    padding-bottom: 0;
    border: none;
}

.form-filter .form-group-title{
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;
}

.price-range-filter{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.range-controls{
    margin-top: 14px;
    padding: 38px 20px;
    background-color: #f7f3ec;    
}

.range-controls .scale{
    height: 2px;  
    background-color: #d7dcde;
  }
  
.range-controls .bar{
    width: 80%;
    height: 2px;
    background: #00ca74
}

.range-toggle{
    position: relative;
    font-size: 0px;
    cursor: pointer;
}

.range-toggle::before{
    position: absolute;
    content: "";      
    width: 20px;
    height: 23px;
    top: -11.5px;
}

.range-toggle-min::before{
    background-image: url("../img/filter-button.svg");
    background-repeat: no-repeat;
    left: 0;
}

.range-toggle-max::before{
    background-image: url("../img/filter-button.svg");
    background-repeat: no-repeat;
    left: 78%;
}

.range-controls-output{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.range-controls-output input{
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 96px;
    font-size: 17px;
    background-color: #f7f3ec;
    border: none;
}

.range-controls-output .min-price{
    padding-right: 41px;
    padding-left: 45px;
}

  
.range-controls-output .max-price{
    padding-right: 24px;
    padding-left: 26px;
}


.form-filter .filter-checkbox,
.form-filter .filter-radio{
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
}

input[type="checkbox"],
input[type="radio"]{
    display:none;
}

.filter-options{
    list-style: none;
    margin: 0;
    margin-top: 15px;
    padding:0;
}

.filter-option{
    position: relative;
    margin-left: 36px;
    margin-bottom: 19px;
}

.filter-option:last-of-type{
    margin-bottom: 0;
}


.filter-checkbox::before{
    content: "";
    position: absolute;
    top: -2px;
    left: -36px;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

.filter-radio::before{
    content: "";
    position: absolute;
    top: -3px;
    left: -36px;
    width: 25px;
    height: 25px;
    background-image: url("../img/radio-off.svg");
    background-repeat: no-repeat;
}

input[type="checkbox"]:checked ~ .filter-checkbox::before{
    background-image: url("../img/checkbox-on.svg");
}

input[type="radio"]:checked ~ .filter-radio::before{
    background-image: url("../img/radio-on.svg");
}

.form-filter-btn{
    margin-top: 79px;
    padding-left: 38px;
    padding-right: 38px;
    letter-spacing: -0.7px;
    border: 1px solid #e5e5e5;
}

.menu-sort{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-sort-options{
    margin-left: 141px;
}

.menu-sort-orders{
    margin-left: 46px;
}

.menu-sort .menu-sort-link{
    font-family: "PTSans";
    font-size: 13px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(0,0,0,0.3);
    border-bottom: 1px dotted #ee3643;
}

.sort-option{
    margin-right: 68px;    
}

.sort-option-active .menu-sort-link{
    color: #ee3643;
    border: none;
}

.sort-option:hover .menu-sort-link{
    color: #000000;
    border-bottom: 1px solid #ee3643;
}

.sort-option:last-of-type,
.sort-order:last-of-type{
    margin-right: 0;
}

.sort-order{
    margin-right: 34px;
    position: relative;
}

.sort-order a{
    font-size: 0;
}

.sort-order-asc::before{
    content: "";
    position: absolute;
    top: 4px;
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 10px solid #c5c5c5;
}

.sort-order-asc:hover::before{
    border-bottom: 10px solid #000000;
}

.sort-order-active .sort-order-asc::before{
    border-bottom: 10px solid #ee3643;
}

.sort-order-desc::before{
    content: "";
    position: absolute;
    top: 4px;
    width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #c5c5c5;
}

.sort-order-desc:hover::before{
    border-top: 10px solid #000000;
}

.sort-order-active .sort-order-desc::before{
    border-top: 10px solid #ee3643;
}

.catalog-footer{
    min-height: 261px;
    margin-top: 60px;
    background-color: #f2f6f8;
}

.catalog-footer .container{
    flex-direction: column;
}

.catalog-footer-title{
    margin: 0;
    margin-top: 65px;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.catalog-footer-desc{
    margin: 0;
    width: 920px;
    font-family: "PTSans";
    font-size: 13px;
    line-height: 24px;
}

.catalog-footer-desc:first-of-type{
    margin-top: 27px;
}

.catalog-footer-title,
.catalog-footer-desc{
    color: #000000;
}

.pagination{
    display:flex;
    margin: 0;
    padding: 0;
    margin-top:32px;
}

.pagination-item{
    list-style: none;
    margin-right: 10px;
}

.pagination-btn{
    min-width:38px;
    min-height: 38px;
    text-transform: uppercase;
    border: 1px solid #e5e5e5;
    background-color: #ffffff;
}

.pagination-next-btn{
 padding: 0px 30px;
}

.pagination-btn:hover{
    border: 1px solid #bdc6ca;
}

.pagination-btn:active{
    outline: none;
    border: 1px solid #ee3643;
}

.pagination-current-btn{
    color: #ffffff;
    background-color: #ee3643;
}

/*modals*/
.modal{
    position: fixed;
    background-color: #ffffff;
}

.modal-close-btn{
    font-size: 0;    
}

.modal-close-btn::before{
    position: absolute;
    top: 15px;
    right: 10px;
    content: "";
    width: 21px;
    height: 21px;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
}

.feedback-modal{
    display: none;
    width: 620px;
    bottom: 210px;
    left: 50%;
    margin-left: -310px;
    min-height: 100px;
    box-shadow:
        0 0 40px 0 rgba(0,0,0, 0.75),
        inset 0 5px 0 0 #ff5357;;
}

.feedback-modal-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
}

.feedback-modal .feedback-group{
    margin: 0;
    margin-top: 20px;
    padding: 0;
    padding-top: 10px;
    border: none;
}

.feedback-modal .feedback-group-title{
    font-family: "Cuprum";
    font-size: 18px;
    line-height: 18px;
}

.feedback-modal input{
    width: 220px;
}

.feedback-modal textarea{
    width: 460px;
    resize: none;
}

.feedback-modal input,
.feedback-modal textarea{
    padding: 10px;
    border: 2px solid #dee3e4;
    border-radius: 3px;
}

.feedback-modal input::placeholder,
.feedback-modal textarea::placeholder{
    font-family: "Cuprum";
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback-modal input::-ms-input-placeholder,
.feedback-modal textarea::-ms-input-placeholder{
    font-family: "Cuprum";
    font-size: 13px;
    line-height: 18px;
    color: #a9a9a9;
}

.feedback-modal-footer{
    margin-top: 37px;
    padding: 37px 80px;
    background-color: #f4f4f4;
}

.feedback-send-btn{
    font-family: "Cuprum";
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px 200px 10px 200px;
    color: #ffffff;
    background-color: #ee3643;
    border: none;
    border-radius: 3px;
}

.map-popup{
    display: none;
    top: 183px;
    left: 50%;
    margin-left: -470px;
    box-shadow: 0 0 32px 0 rgba(47, 42, 43, 0.5);
}

.cart-modal{
    display: none;
    width: 620px;
    top: 410px;
    left: 50%;
    margin-left: -310px;
    box-shadow: inset 0 5px 0 0 #ff5357;
}

.cart-modal-body{
    padding: 74px 80px;
}

.cart-modal-message{
    position: relative;
    padding-left: 97px;
    font-family: "Cuprum";
    font-size: 30px;
    line-height: 30px;
    color: #000000;
}

.cart-modal-message::before{
    position:absolute;
    content: "";
    top: -15px;
    left: 0;
    width: 66px;
    height: 66px;
    background-image: url("../img/icon-mark.svg");
    background-repeat: no-repeat;
}

.cart-modal-footer{
    display: flex;
    justify-content: space-between;
    padding: 37px 80px;
    background-color: #f1f1f1;
}

.cart-order-btn,
.cart-continue-btn{
    font-family: "Cuprum";
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    padding: 10px 0;
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
}

.cart-order-btn{
    padding-right: 60px;
    padding-left: 60px;
    color: #ffffff;
    background-color: #ee3643;
}

.cart-continue-btn{
    padding-right: 44px;
    padding-left: 47px;
}